
.noti {
    font-size: 1.2em;
    border: 2px solid;
    margin-bottom: 10px;
    background-color: silver;
    padding-left: 5px;
}

.noti-error {
    border-color: red;
}

.noti-info {
    border-color: green;
}